<app-nav></app-nav>

<div class = "container">
    <div class="rider-detail">
      <div class="profile">

      </div>
      <div class="details">
        <p>John Doe</p>
        <p>123445</p>
        <p>GER 123M.</p>
        <p>Kenya</p>
      </div>
      <div class="actions">
        <button>Add Moto</button>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </div>
    <div class="riders table">
      <div class="table-header">
        <span>name</span>
        <span>number plate</span>
        <span>color</span>
        <span>status</span>
      </div>
      <div class="table-item">
          <span>Honda</span>
          <span>GER 50</span>
          <span>Purple</span>
          <span class="actions">active</span>
      </div>
    </div>
</div>
