mat-dialog-content
{
  font-family: 'Roboto Mono', monospace;
}
button {
  font-family: 'Roboto Mono', monospace;
}
.delete-button
{
  background:#A431A7;
  color: #FBDC8D;
}
.cancel-button{
  background: #C4C4C4;
}

