<div class="login-container">
    <form class="container" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <h1>OKADA</h1>
      <div class="form-group">
        <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': formSubmitted && formFields.username.errors }" placeholder="Account Name" class="formControl">
        <div *ngIf="formSubmitted && formFields.username.errors" class="invalid-feedback">
            <div *ngIf="formFields.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && formFields.password.errors }" />
        <div *ngIf="formSubmitted && formFields.password.errors" class="invalid-feedback">
            <div *ngIf="formFields.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group button-wrapper">
        <button type="submit" class="btn" (click)="isAdmin = true">
            <p *ngIf="!isLoading" >Admin Login</p>
            <div *ngIf="isLoading" class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </button>
        <button type="submit" class="btn" (click)="isClient = true">
          <p *ngIf="!isLoading">Ride</p>
          <div *ngIf="isLoading" class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
          </div>
      </button>
      <button type="submit" class="btn" (click)="isRider = true">
        <p *ngIf="!isLoading">Drive</p>
        <div *ngIf="isLoading" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </button>
      </div>
    </form>
</div>

