<h2>{{usersModalService.form.controls['$key'].value?"Update User":"Add User"}}</h2>
<form [formGroup]="usersModalService.form" class="normal-form" (ngSubmit)="onSubmit()">
  <div class="controls-container">
        <label for="firstname">First Name*</label>
        <input type="text" formControlName="firstName"  placeholder="FirstName">
        <mat-error *ngIf="usersModalService.form.controls['firstName'].errors?.required">This Field is Mandatory.</mat-error>
        <label for="lastname">Last Name*</label>
        <input type="text" formControlName="lastName"  placeholder="LastName">
        <mat-error *ngIf="usersModalService.form.controls['lastName'].errors?.required">This Field is Mandatory.</mat-error>
        <label for="gender">Gender*</label>
        <mat-form-field floatLabel="never">
            <mat-select  formControlName="gender" placeholder="Gender">
                <ng-container *ngFor="let g of gender">
                    <mat-option value="{{g.key}}">{{g.value}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <label for="msisdn">Phone*</label>
        <input type="text" formControlName="msisdn"  placeholder="Phone">
        <mat-error *ngIf="usersModalService.form.controls['msisdn'].errors?.required">This Field is Mandatory.</mat-error>
        <label for="password">Password*</label>
        <input type="text" formControlName="password"  placeholder="password">
        <mat-error *ngIf="usersModalService.form.controls['password'].errors?.required">This Field is Mandatory.</mat-error>
        <label for="confirmPassword">Confirm Password*</label>
        <input type="text" formControlName="confirmPassword"  placeholder="Pin Number">
        <mat-error *ngIf="usersModalService.form.controls['confirmPassword'].errors?.required">This Field is Mandatory.</mat-error>
        <label for="country">Country*</label>
        <mat-form-field floatLabel="never">
          <mat-select  formControlName="country" placeholder="Country">
              <ng-container *ngFor="let c of country">
                  <mat-option value="{{c.key}}">{{c.value}}</mat-option>
              </ng-container>
          </mat-select>
          <mat-error *ngIf="formSubmitted && usersModalService.form.controls['country'].errors?.required">This Field is Mandatory.</mat-error>
        </mat-form-field>
        <div class="button-row">
            <button mat-raised-button type="submit" class="add-button" [disabled]="usersModalService.form.invalid">{{usersModalService.form.controls['$key'].value?"Update":"Add"}}</button>
            <button type="button" class="cancel-button" (click)="onClose()">Cancel</button>
        </div>
  </div>
</form>

