
<h2 mat-dialog-title>Add Rider</h2>
<mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="ridersForm" (ngSubmit)="onFormSubmit()">
        <input type="text" formControlName="fullname" [ngClass]="{ 'is-invalid': formSubmitted && formFields.fullname.errors }" placeholder="Fullname" class="formControl" >
        <input type="text" formControlName="gender" [ngClass]="{ 'is-invalid': formSubmitted && formFields.gender.errors }" placeholder="Gender" class="formControl">
        <input type="text" formControlName="licenceId" [ngClass]="{ 'is-invalid': formSubmitted && formFields.licenceId.errors }" placeholder="Licence Id" class="formControl">
        <input type="text" formControlName="country" [ngClass]="{ 'is-invalid': formSubmitted && formFields.country.errors }" placeholder="Country Code" class="formControl">
        <input type="text" formControlName="msisdn" [ngClass]="{ 'is-invalid': formSubmitted && formFields.msisdn.errors }" placeholder="Phone" class="formControl">
        <input type="text" formControlName="pinNumber" [ngClass]="{ 'is-invalid': formSubmitted && formFields.pinNumber.errors }" placeholder="PIN" class="formControl">
        <mat-dialog-actions align="end">
          <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="add-button"  type="submit">Add Rider</button>
          <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
        </mat-dialog-actions>
    </form>
  </mat-dialog-content>
