input {
  width: 244px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 2px;
  background: #FFFFFF;
  border: 1px solid #BFBCBC;
  border-radius: 3px;
  display: block;
}
/* mat-dialog-content
{
  font-family: 'Roboto Mono', monospace;
  padding: 0 100px 0;
} */
/* .mat-dialog-actions {
  padding: 0 77px 100px;
} */
button {
  font-family: 'Roboto Mono', monospace;
}
.add-button
{
  background:#A431A7;
  color: #FBDC8D;
}
.cancel-button{
  background: #C4C4C4;
}
