/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0 auto;
  width: 100% ;
  font-family: 'Roboto Mono', monospace;
}

.spinner {
  text-align: center;
  padding: 9px 25px;
}

.spinner > div {
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* notification */
snack-bar-container.success {
  background-color: #A431A7;;
  color : #FBDC8D;
}

snack-bar-container.warn {
  background-color: #A431A7;;
  color : #FBDC8D;
}


snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}


.hide{
  display: none;
}

.cdk-overlay-pane {
  height: auto !important;
}

input:focus,
button:focus{
  outline: 2px solid #A431A7;
}
.mat-icon-butto:focus
{
  outline: none;
}

.mat-sort-header-arrow {
  color: #fff !important;
  /* opacity: 1 !important; */
  }

  .search-input {
    height: 42px;
    margin: 11px;
    font-size:14px;
  }

  label {
    font-size: 10px;
  }


